<!DOCTYPE html>
<html lang="es-Es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/5c3e5e35b9.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="..//assets/css/style.css">
  <link rel="stylesheet" type="text/css" href="..//assets/css/normalize.css">

  <title>ForjaEmpresa</title>

</head>
<body>
<section id="dashboard2">
  <article class="menu_2">
    <img src="..//assets/img/0. logoforja.png" alt="logo forja">
    <ul class="ul">
      <li class="item2"><a href="./pacientes.html"><i class="fa-solid fa-users"></i><br> Pacientes</a></li><br>
      <li class="item2"><a href="./pacientes.html"><i class="fa-solid fa-syringe"></i><br> Vacunación</a></li><br>
      <li class="item2"><a href="./login.html"><i class="fa-solid fa-power-off"></i><br> Cerrar sesión</a></li>
    </ul>
  </article>

  <article class="contenido">


      <div class="bienvenidos">
        
        <button class="carol"> <img src="..//assets/img/Vector.svg">Carolina Loaiza</button>
        <h1>BIENVENIDOS</h1>
        <input class="dashboar-input" type="text" placeholder=" Digite el número de documento">
        <button class="search"><i class="fa-solid fa-magnifying-glass"></i></button>
        <button class="rotate"><i class="fa-solid fa-arrow-rotate-right"></i> </button>
      </div>
      <div class="franja_1">
        <img src="..//assets/img/12. franja.svg" alt="franja">
      </div>
  </article>
</section>

</body>
</html>