<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title Page -->  
    <title>Login</title>
 
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="..//assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="..//assets/css/normalize.css">
</head>
<body >   
    
    <section id="back">
        <br>
        <br>
        <div class="boto"> 
            <button class="botonvolver"> <a href="..//index.html" >Volver al Inicio</a>
            </button> 
        </div>
        <br>
        
        <div class="upform">
            <br>
            <img src="..//assets/img/0. logoforja.png" alt="logoforja">
            <br>
            <br>
            <h3>Contigo siempre</h3>
            <br>
        </div>
        <div class="formulario">
        <form>
            <!-- Username -->
            <label for="name">Usuario:</label>
            <br>
            <input type="name">
            <br>
            <br>
            <!-- Password -->
            <label for="username">contraseña:</label>
            <br>
            
            <input type="password">
            <br>
            <p><a href="#">¿olvidaste la contraseña?</a></p>
                <br>
                
            <button class="ingresa"> <a href="./dashboard.html" >Ingresar</a>
            </button> 
            <br>
            <br>   
        </form>  
    </div>
    </section>
   

</body>
</html>