<!DOCTYPE html>
<html lang="ES">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="..//assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="..//assets/css/normalize.css">
    <title>pacientes</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5c3e5e35b9.js" crossorigin="anonymous"></script>
</head>
<body>
    <header >
        <section id="paciente">
            <div class="franja">
                <img src="..//assets/img/0. logoforja.png">
            </div>
           <div class="bpac">
                <button class="casa"><i class="fa-solid fa-house-user"></i></button>
          
                <button class="cerrar"><i class="fa-solid fa-power-off"></i></button>
            </div>
           
        </section>
    
            <section class="fran">
                
               <h1></h1>
            </section>
             
    </header>

    <main>
        <div class="bagregar"> 
            <button class="botonagregar"> <a href="./registro.html" >Agregar</a>
            <i class="fa-solid fa-user icon"></i>
            </button> 
           
            <br>
            
           <div class="icosearch">
            <input type="search" placeholder="Numero de documento">
            <button class="bsearch"><i class="fa-solid fa-magnifying-glass"></i></button>

            
        </div>
        </div class=tablapadre>
        <h2><u>PACIENTES</u></h2>
        <div>
            <table class="tablap">
              <thead>

                <tr class="tablaup">
              
                  <td># DE REGISTRO</td>
                  <td># DOCUMENTO</td>
                  <td>NOMBRES</td>
                  <td>APELLIDOS</td>
                  <td>EDAD</td>
                  <td>ACCIONES</td>
              
                </tr>
              </thead>
              <tbody>
                <tr class="tabladown">
              
                  <td>111</td>
                  <td>456284</td>      
                  <td>Pablo</td>
                  <td>Perez</td>
                  <td>27</td>
                  <td> <button class="beditar"> <a href="" >Editar</a>
                    <i class="fa-solid fa-pen"></i>
                  </button> <button class="belimina"> <a href="" >Eliminar</a>
                    <i class="fa-solid fa-rectangle-xmark"></i>
                  </button>  </td>
              
                </tr>
                <tr class="tabladown">
              
                    <td>111</td>
                    <td>456284</td>      
                    <td>Pablo</td>
                    <td>Perez</td>
                    <td>27</td>
                    <td> <button class="beditar"> <a href="" >Editar</a>
                      <i class="fa-solid fa-pen"></i>
                    </button> 
                    <button class="belimina"> <a href="" >Eliminar</a>
                      <i class="fa-solid fa-rectangle-xmark"></i>
                    </button>  </td>
                
                  </tr>
                  <tr class="tabladown">
              
                    <td>111</td>
                    <td>456284</td>      
                    <td>Pablo</td>
                    <td>Perez</td>
                    <td>27</td>
                    <td> <button class="beditar"> <a href="" >Editar</a><i class="fa-solid fa-pen"></i>
                    </button> <button class="belimina"> <a href="" >Eliminar</a>
                      <i class="fa-solid fa-rectangle-xmark"></i>
                    </button>  </td>
                
                  </tr>
                  <tr class="tabladown">
              
                    <td>111</td>
                    <td>456284</td>      
                    <td>Pablo</td>
                    <td>Perez</td>
                    <td>27</td>
                    <td> <button class="beditar"> <a href="" >Editar</a>
                      <i class="fa-solid fa-pen"></i>
                    </button> 
                    </button> 
                    <button class="belimina"> <a href="" >Eliminar</a>
                      <i class="fa-solid fa-rectangle-xmark"></i>
                    </button>  </td>
                
                  </tr>
                  <tr class="tabladown">
              
                    <td>111</td>
                    <td>456284</td>      
                    <td>Pablo</td>
                    <td>Perez</td>
                    <td>27</td>
                    <td> <button class="beditar"> <a href="" >Editar</a>
                      <i class="fa-solid fa-pen"></i>
                    </button> 
                    <button class="belimina"> <a href="" >Eliminar</a>
                      <i class="fa-solid fa-rectangle-xmark"></i>
                    </button>  </td>
                
                  </tr>
                  <tr class="tabladown">
              
                    <td>111</td>
                    <td>456284</td>      
                    <td>Pablo</td>
                    <td>Perez</td>
                    <td>27</td>
                    <td> <button class="beditar"> <a href="" >Editar</a>
                      <i class="fa-solid fa-pen"></i>
                    </button> <button class="belimina"> <a href="" >Eliminar</a>
                      <i class="fa-solid fa-rectangle-xmark"></i>
                    </button>  </td>
                
                  </tr>
                </tbody>
              </table>
        </div>



   
    </main>
        <footer>
            <p class="footp">@2020 FORJA EMPRESAS</p>
        </footer>

</body>
</html>