<!DOCTYPE html>
<html lang="es-Es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://kit.fontawesome.com/77024fa835.js" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="..//assets/css/registro.css">
    <link rel="stylesheet" type="text/css" href="..//assets/css/normalize.css">
  <title>Registro</title>
</head>
<html>
  <body>
    <section class="pacientes">
      <article class="paciente"><img src="../assets/img/0. logoforja.png" alt="logo forja"></article>
      <article class="paciente1"> 
        <div><button class="pa-1"><i class="fa-solid fa-house-chimney-user"></i></button></div>
        <div><button class="pa-1"><i class="fa-solid fa-power-off"></i></button></div>
      </article>
    </section>
  
    <section><article class="linea_2"><img src="../assets/img/12. franja.svg" alt="franja"></article> </section>
  
    <section class="register"><h1>REGISTRO USUARIO NUEVO</h1></section>
  
  <section  id="form-section">
  
  <form action="frm-busqueda" class="frm-frm">
  
      <div class="form-1">
        <input class="form-input1" type="date">
        <input class="form-input2" type="number" placeholder="N registro">
      </div>
      <div>
        <button class="btn-form"><i class="fa-solid fa-user"></i> DATOS DEL PACIENTE</button>
      </div>
  
      <input class="input3" type="text" placeholder="Escribe tu nombre">
                
      <input class="input3-1" type="text" placeholder="Apellidos">
  
      <input class="input3" type="text" placeholder="Número de identificación">
              
      <select name="sale[sale_inscription][0][identification_type]" class="identification_type">
        <option value="C">Cédula de identidad</option>
        <option value="P">Pasaporte</option>
      </select>
  
        <input class="input3" type="date">
  
        <input class="input3-1" type="text" placeholder="Edad">
  
      <button class="btn-form"><i class="fa-solid fa-location-dot"></i> INFORMACIÓN DE CONTACTO</button>
  
      <select class="form-control" id="inputCiudadLine2">
          <option value="0"><p>Departamento de residencia</p></option>
          <option value="Arauca">Arauca</option>
          <option value="Armenia">Armenia</option>
          <option value="Barranquilla">Barranquilla</option>
          <option value="Bogotá">Bogotá</option>
          <option value="Bucaramanga">Bucaramanga</option>
          <option value="Cali">Cali</option>
          <option value="Cartagena">Cartagena</option>
          <option value="Cúcuta">Cúcuta</option>
          <option value="Florencia">Florencia</option>
          <option value="Ibagué">Ibagué</option>
          <option value="Leticia">Leticia</option>
          <option value="Manizales">Manizales</option>
          <option value="Medellín">Medellín</option>
          <option value="Mitú">Mitú</option>
          <option value="Mocoa">Mocoa</option>
          <option value="Montería">Montería</option>
          <option value="Neiva">Neiva</option>
          <option value="Pasto">Pasto</option>
          <option value="Pereira">Pereira</option>
          <option value="Popayán">Popayán</option>
          <option value="Puerto Carreño">Puerto Carreño</option>
          <option value="Puerto Inírida">Puerto Inírida</option>
          <option value="Quibdó">Quibdó</option>
          <option value="Riohacha">Riohacha</option>
          <option value="San Andrés">San Andrés</option>
          <option value="San José del Guaviare">San José del Guaviare</option>
          <option value="Santa Marta">Santa Marta</option>
          <option value="Sincelejo">Sincelejo</option>
          <option value="Tunja">Tunja</option>
          <option value="Valledupar">Valledupar</option>
          <option value="Villavicencio">Villavicencio</option>
          <option value="Yopal">Yopal</option>
      </select>
  
      <select class="form-control" id="city" required>
        <option value="">Selecciona una opción...</option>
        <option value="Abejorral">Abejorral</option>
        <option value="Abrego">Abrego</option>
        <option value="Abriaquí">Abriaquí</option>
        <option value="Acacías">Acacías</option>
        <option value="Acandí">Acandí</option>
        <option value="Acevedo">Acevedo</option>
        <option value="Achí">Achí</option>
        <option value="Agrado">Agrado</option>
        <option value="Agua de Dios">Agua de Dios</option>
        <option value="Aguachica">Aguachica</option>
        <option value="Aguada">Aguada</option>
        <option value="Aguadas">Aguadas</option>
        <option value="Aguazul">Aguazul</option>
        <option value="Agustín Codazzi">Agustín Codazzi</option>
        <option value="Aipe">Aipe</option>
        <option value="Albán">Albán</option>
        <option value="Albán">Albán</option>
        <option value="Albania">Albania</option>
        <option value="Albania">Albania</option>
        <option value="Albania">Albania</option>
        <option value="Alcalá">Alcalá</option>
        <option value="Aldana">Aldana</option>
        <option value="Alejandría">Alejandría</option>
        <option value="Algarrobo">Algarrobo</option>
        <option value="Algeciras">Algeciras</option>
        <option value="Almaguer">Almaguer</option>
        <option value="Almeida">Almeida</option>
        <option value="Alpujarra">Alpujarra</option>
        <option value="Altamira">Altamira</option>
        <option value="Alto Baudo">Alto Baudo</option>
        <option value="Altos del Rosario">Altos del Rosario</option>
        <option value="Alvarado">Alvarado</option>
        <option value="Amagá">Amagá</option>
        <option value="Amalfi">Amalfi</option>
        <option value="Ambalema">Ambalema</option>
        <option value="Anapoima">Anapoima</option>
        <option value="Ancuyá">Ancuyá</option>
        <option value="Andalucía">Andalucía</option>
        <option value="Andes">Andes</option>
        <option value="Angelópolis">Angelópolis</option>
        <option value="Angostura">Angostura</option>
        <option value="Anolaima">Anolaima</option>
        <option value="Anorí">Anorí</option>
        <option value="Anserma">Anserma</option>
        <option value="Ansermanuevo">Ansermanuevo</option>
        <option value="Anza">Anza</option>
        <option value="Anzoátegui">Anzoátegui</option>
        <option value="Apartadó">Apartadó</option>
        <option value="Apía">Apía</option>
        <option value="Apulo">Apulo</option>
        <option value="Aquitania">Aquitania</option>
        <option value="Aracataca">Aracataca</option>
        <option value="Aranzazu">Aranzazu</option>
        <option value="Aratoca">Aratoca</option>
        <option value="Arauca">Arauca</option>
        <option value="Arauquita">Arauquita</option>
        <option value="Arbeláez">Arbeláez</option>
        <option value="Arboleda">Arboleda</option>
        <option value="Arboledas">Arboledas</option>
      </select>
      <input class="input3" type="text" placeholder="Dirección"> </th>
  
      <input class="input3-1" type="text" placeholder="Correo">
  
  
      <input class="input3" type="text" placeholder="Teléfono fijo">
  
      <input class="input3-1" type="text" placeholder="Celular">
  
      <button class="btn-form"><i class="fa-solid fa-location-dot"></i> INFORMACIÓN DE CONTACTO</button>
  <select class="form-control1" id="city" required>
        <option value="">Preexistencias</option>
        <option value="Abejorral">Astrazeneca</option>
        <option value="Abrego">Moderna</option>
      <option value="Arbeláez">Sputnik V</option>
      <option value="Arboleda">Sinovac</option>
      <option value="Arboledas">Janssen</option>
      <option value="Arboledas">Novavax</option>
    </select>
        
    <select class="form-control1" id="city" required>
      <option value="">Discapacidad</option>
      <option value="Abejorral">Auditiva</option>
      <option value="Abrego">Física</option>
    <option value="Arbeláez">Intelectual</option>
    <option value="Arboleda">Lenguaje</option>
    <option value="Arboledas">Psicosocial</option>
    <option value="Arboledas">Visual</option>
  </select>
        
      <input class="form-input11" type="text" placeholder="Alergias">
       
  <div class="Rq">
    <label for="Rquestion" class="Rquest">¿El paciente se ha realizado la prueba del covid con anterioridad y esta ha salido positiva?</label>
  
    <div><input name="Rquestion" id="Rquestion" type="radio"> Si
      <input name="Rquestion" id="Rquestion" type="radio" checked> No</div>
  
  </div>
  <div class="Rq1">
    
    <label for="Rquestion" class="Rquest1">¿El paciente ha tenido un contacto estrecho o cercano con una persona confirmado o sospechosa de COVID-19 en los últimos 14 días?</label>
  
    <div>
      <input name="Rquestion" id="Rquestion" type="radio"> Si
      <input name="Rquestion" id="Rquestion" type="radio" checked> No
    </div>
  </div>
  
      </form>
      <button class="bt">Guardar</button>
  </section>
  
  </body>
  <footer class="footer">
    <p>@2021 FORJAEMPRESAS</p>
  </footer>
  </html>
