@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
  margin: 0;
  padding: 0;
}

:root{
      --Rufous:#A40101;
      --Viridian-green:#2CA3AB;
      --Silver:#C4C4C4;
      --orange:rgb(220, 118, 51 );
      --Cadet: rgb(11, 87, 149);
}


body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

h1, h2, h3{
  font-family: 'Poppins', sans-serif;
  color: var(--dark-color);
}

p{
  color: var(--dark-color);
  text-align: justify;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::::  HEADER :::::::::::::::::::::::::::::::::::::::::::::::: */
@media screen and (min-width: 320px) {
  
.telefono{
  grid-area: item1;
    
}
.ubicacion{
  grid-area: item2;
  
}
.grid-item3{
  display: flex;
  grid-area: item3;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  
}
.grid-item3 img{
  width: 100px;
}

.grid-item5{
  grid-area: item5;
  
}
.grid-item6{
  grid-area: item6;
  
}
.botonSesion{
      display: none;    
  }  
.grid-header{
  display: grid;
  gap: 5px;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: 
  "item1 item2"
  "item5 item5"  
  "item3 item3";  
}

.fa-iconHead{
  background-color: var(--orange);
  padding: 6px 6px;
  border-radius: 50%;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0);
}



.telefono{
  display: flex;
  margin: 1rem 2rem 0 2rem;
  align-items: center;
  
}

.telefono p{
  text-align: left;
  padding-left: 1rem;
  padding-bottom: 0.1rem;
  font-weight: 300;
  width: 8rem;
  font-size: 12px;
  
}

.ubicacion{
  display: flex;
  margin: 1rem 1rem 0 1rem;
  align-items: center;
}

.ubicacion p{
  text-align: left;
  padding-left: 1.5rem;
  padding-bottom: 0.1rem;
  font-weight: 300;
  width: 10rem;
  font-size: 12px;
}



.btn-login{
  
  display: none;
}
.btn-login i{
  padding: 1px 5px;
}

.btn-login a{
  margin:20px 0;
  text-decoration: none;
  color: white;
  text-align: center;
}

.btn-login:hover{
  box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.62), 0 5px 5px 0 rgba(0,0,0,0.18);
  cursor: pointer;
}

.icono{
  display: flex;
  flex-direction: row;
  padding: 0.1rem 0.6rem 1rem 3rem;
}

.logoForja{
  padding-left: 10px;
  padding-right: 1rem;
  max-height: 40vw;
  height: 100%;
}

.lineaElectro{
  width: 80%;
  padding-left: 100px;
}




.fa-icon{
  color: var(--orange);
  font-size: 50px;
}

/* baner */
.seccion{
  background-image: url(../img/2.\ medico.png);
  background-repeat: no-repeat;
  
  background-size: cover;
  height:180px;
  padding: 1rem 1rem 1rem 1rem;
  
}

.seccion1 h2{
  font-size:3.7vw;
  font-weight: 300;
  color: var(--orange);
  letter-spacing: -2px;
  padding-left: 3rem;
  width: 10rem;
  text-align: center;

}

.seccion1 h1{
  font-size:3vw;
  font-weight: 400;
  padding: 0 6.5rem;
  margin-top: 1vw;
}

.btn-login2{
  display: flex;
  align-items: center;
  width: 120px;
  height: 2rem;
  background-color: var(--Cadet);
  margin-top: 2rem;
  margin-left: 4.6rem;
  padding-top: -10px;
  padding-left: 12px;
  border-style: none;
  border-radius: 15rem;
  text-align: center;
  cursor: pointer;
  transition-duration: 0.1s;
}
.btn-login2 i{
  padding: 1px 8px;
  
}

.btn-login2 a{
  margin:20px 0;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
}

.btn-login2:hover{
  box-shadow: 0 5px 16px 0 rgba(0, 0, 0, 0.61), 0 5px 5px 0 rgba(0,0,0,0.19);
  cursor: pointer;
}

.franjaNaranja{
  background-image: url(../img/3.\ franjaninios.svg);
  background-color: var(--Viridian-green);
  background-repeat: no-repeat;
  background-size: cover;
  height:85px;

}




/* segundo baner */
.covid{
  display: flex;
  padding: 2rem 2rem;
  background-image: linear-gradient(rgba(255, 255, 255, 0.830), rgba(255, 255, 255, 0.830)),url(../img/co);
  background-size:cover;
  background-repeat: no-repeat;
  flex-direction: column;
}

.fa-fondo{
  background-color: var(--Rufous);
  border-radius: 50%;
  padding: 5px 8px;
  color: white;
  margin: 2px 1rem;
}


.fa-fondo1{
  background-color: var(--Rufous);
  border-radius: 80%;
  padding: 18px 12px;
  color: white;
  margin: 2px 1rem;
}

.tabla1 h1{
  font-size: 20px;
  font-weight: 400;
  color: rgb(11, 87, 149);
  width: 25rem;
}

.tabla1 ul li{
  margin: 1rem 5rem;
  font-size: 15px;
  font-weight: 200;
  list-style: none;
  vertical-align: center;

}

      .fa-checkMargin{
          margin: 0.5rem 1rem;
          color: var(--Rufous);
          
      }



.tabla2 h1{
  font-size: 20px;
  font-weight: 400;
  color: rgb(11, 87, 149);
}
.tabla2 p{
  font-size: 15px;
}
.tabla2 img{
  width: 30%;
  display:block;
  margin:auto;
}

.tabla2 a{
  margin-left: 6.5rem;
}

  .tabla2 a:visited{
      color: rgb(11, 87, 149);
  }

  .tabla2 a:link{
      color: rgb(11, 87, 149);
  }

.preguntas{
  background-color: rgb(51, 51, 51);
  margin-bottom: 1rem;
}

.preguntas p{
  background-color: rgb(10, 10, 36);
  margin-bottom: 0.6rem;
  margin-left: 0rem;
  margin-right: 0rem;
  padding: 0.5rem;
  font-size: 12px;
  
}

.preguntas a{
  text-decoration: none;
  color: white;
}

.preguntas a:visited{
  color: white;;
}

.preguntas a:link{
  color: white;
}
/* ::::::::::::::::::::::::::::::::::::::::::::::: PIE DE PAGINA :::::::::::::::::::::::::::::::::::::::: */
.pie-pagina .grupo-2{
  background-color: #000000e1;
  padding: 15px 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-align: center;
}

.pie-pagina .grupo-2 small{
  font-size: 12px;
  font-family: Raleway;
  
}

body{overflow-x: hidden;}

/*celular*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (-webkit-min-device-pixel-ratio:0) {
  .telefono{overflow: hidden;width: 150px;padding-left: 1rem;}
  .ubicacion{overflow: hidden;width: 160px;padding-left: 1rem;}
  .seccion{background-size: contain;width: 425px;height: 130px;}
  .grid-item3{margin-left: 1rem;}
  .grid-item5 img{object-fit: contain;margin-left: -5rem;margin-top: 1rem;}
  .seccion1 h2{letter-spacing: 0px; font-size: 20px;}
  .btn-login2{margin-top: 0rem;margin-left: 4rem;}
  .franjaNaranja{width: 455px;background-size: contain;}
  .covid{width: 390px;}
  .preguntas{width: 455px;}
  .pie-pagina .grupo-2{width: 435px;}
  .tabla1{margin-left: -1.2rem;}
  .tabla2{margin-left: -0.9rem;}
  .tabla2 a{margin-left: 4rem;}
}

/*tablet*/
@media screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio:0) {
  .botonSesion{
      display: flex;
      grid-area: item4;
      align-items: center;
      justify-content: center;
      
  }
  .grid-header{
      grid-template-areas: 
      "item1 item2"  
      "item5 item5"  
      "item3 item4" ;
  }
  
  .btn-login{
  display: flex;
  align-items: center;
  width: 9.5rem;
  height: 2rem;
  background-color: rgb(11, 87, 149);
  margin:  2rem;
  margin-right: 3rem;
  padding-top: 1px;
  padding-left: 12px;
  border-style: none;
  border-radius: 15rem;
  text-align: center;
  cursor: pointer;
  transition-duration: 0.1s;
  }
  .telefono p{
      font-size: 14px;
      
  }
  .ubicacion p{  
      font-size: 14px;
      width: 20rem;
  }
  .seccion{
      height: 220px;;
      padding: 3rem ;
      
  }
  
  .seccion1 h2{
      letter-spacing: -2px;
      padding-left: 2rem;
      width: 20rem;
      text-align: center;
  
  }
  
  .seccion1 h1{
      
      font-weight: 400;
      padding: 0 9rem;
      margin-top: 1vw;
  }
  
 
  .covid{
      
      
      padding: 2rem 7rem;
  }
  .tabla1 h1{
      font-size: 25px;
  }
  
  .tabla1 ul li{
      font-size: 18px;
  }
  .tabla2 h1{
      font-size: 25px;
  }
  .tabla2 p{
      font-size: 18px;
  }
  .btn-login2{
      
      width: 150px;
      
      margin-top: 2rem;
      margin-left: 8rem;
      
  }
  .btn-login2 i{
      padding: 1px 8px;
      
  }
  
  .btn-login2 a{
      margin:20px 0;
      text-decoration: none;
      color: #ffffff;
      text-align: center;
      font-size: 16px;
  }
  .preguntas p{
      font-size: 14px;
      
  }
}

/*media*/
@media screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio:0) {
 
      .telefono p{  
      font-size: 16px;
  }
  .ubicacion p{  
      font-size: 16px;
      width: 20rem;
  }
  .seccion{
     
      height:320px;
      padding: 6rem 1rem 1rem 5rem;
      
  }
  .seccion1 h1{
      font-size:50px;
      font-weight: 400;
      padding: 0 12rem;
      margin-top: 2px;
  }
     
      .seccion1 h2{
          font-size:40px;
          width: 40rem;
      } 
      .btn-login2{
      
          width: 150px;
          
          margin-top: 2rem;
          margin-left: 14rem;
          
      }
      
      
  
  .covid{
      
      flex-direction: row;
      
  }
  .tabla1{
      width: 60%;
  }
  .tabla2{
  width: 50%;
}
.preguntas p{
  font-size: 16px;
  
}
}

/*grande-*/
@media screen and (min-width: 1200px) {
  .grid-header{
      grid-template-columns: 1.5fr 1fr 1fr ;
      grid-template-areas: 
      " item6 item1 item2 item4"  
      " item3 item5 item5 item5";
  }
  
}


/*login*/

.form1{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.form1 .form-group {
  display:flex;
  flex-direction: column;
  margin-bottom: 10px;
  align-items: center;
}

.form1 .form-group a{
  color: black;
}

.form1 .form-label{
  margin: 0.5rem;
  font-size: 20px;
}

.form1 .form-input{
  border: 2px solid rgb(173, 230, 206);
  background-color: rgba(173, 230, 211, 0.459);
  width: 15rem;
  border-radius: 15px;
  padding: 0.5rem;
  outline: none;
}

.form1 .form-olvc{
  margin-top: 5px;
  font-size: 13px;
}
.logo p{
  text-align: center;
}
.btn-naranja{
  border-color: var(--orange);
  border-style: solid;
  background-color: var(--orange);
  color: red;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  border-radius: 6px;
  padding: 0.5rem;
  margin: 0.3rem 7.5rem;
  width: 130px;
  border: none;
  cursor: pointer;
  
}
.btn-naranja a{
  text-decoration: none;
  color:#ffffff;
}
/*-----*/
#back{
    background-image: url(../IMG/10.png);
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    justify-content: center;
    margin: 0%;
  
}


.upform{
    background-color: rgb(213, 255, 255);
    width: 400px;
    align-items: center;
    margin: auto;
    top: auto;
    height: 1S00px;
    border-radius: 15px 15px 0px 0px;
}
.upform img{
   padding-left: 2rem;
}
.upform h3{
    color: #242336;
    align-items: center;
    text-align: center;

}




.formulario{
    background-color: white;
    width: 400px;
   margin: auto;
   text-align: center;
   padding-top: 2rem;
   border-radius: 0px 0px 15px 15px;

}
.formulario label{
    color: #242336;
}

.formulario input{
    background-color: rgb(210, 242, 243);
    height: 2rem;
    width: 15rem;
    border-radius: 10%;
    border-color: aqua;
    color: #242336;
    
}
.formulario a{
    text-decoration: none;
    color: #242336;
}
.botonvolver{
    display: flex;
    justify-content: center;
    width:9rem;
    height: 2rem;
    background-color: rgb(11, 87, 149);
    border-radius: 15rem;
    text-decoration: none;
    
    padding-top: 0.1rem;
    border: 10px var(--Viridian-green);
    display: block;
    margin-left: 45rem;
   

}
.botonvolver a{
    text-align: center;
    font-weight: 800;
    text-decoration: none;
    color:white;
}
.log{
    display: flex;
    justify-content: center;
    width:9rem;
    height: 2rem;
    border-radius: 15rem;
    text-decoration: none;
    margin: 10px 10px; 
    padding-top: 0.1rem;
    border: 1px solid var(--Viridian-green);
    float:unset;
    margin: auto;
}
.ingresaLongin{
  display: flex;
    justify-content: center;
    width:9rem;
    height: 2rem;
    background-color: var(--orange);
    border-radius: 15rem;
    text-decoration: none;
    margin: 10px 10px; 
    padding-top: 0.1rem;
    border: 1px solid var(--Viridian-green);
    float:unset;
    margin: auto;
}
/*.ingresaLogin a{
    text-align: center;
    font-weight: 800;
    text-decoration: none;
    color:white;

}*/
/*paciente*/
.fran{
  background-image: url(../IMG/12.\ franja.svg);
  height: 50%;
 background-size: cover;
  background-repeat: no-repeat;
  padding: 3rem;
}
#paciente{
    display: flex;
    background-color: #242336;
    max-width: 100%;
    width: 1600;
  
}
.franja{
    display: flex;
    justify-content: left;
    height: 80px;
    width: 1500px;
    max-width: 100%;

      
}
.bpac{
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-left: 800px;
    height: 48px;
   
}
.casa{
    justify-content: flex-end;
    color: var(--Cadet);
    background-color: #C4C4C4;
    padding: 5px;
    border-radius: 15px;
    margin-top: 1rem;
    margin-left: 50px;
   

    }

.cerrar{
    justify-content: flex-end;
    color: var(--Cadet);
    background-color: #C4C4C4;
    padding: 5px;
    border-radius: 15px;
    margin-top: 1rem;
    margin-left: 50px;
  
}



.bagregar{
   display: flex;
   justify-content:space-around;
   padding: 2rem;
}
.botonagregar{
    text-decoration: none;
    background-color: var(--orangegig);
    border-radius: 8%;
    text-align: center;
    font-weight: 800;  
    color:white;
    padding: 5px;
    border: none;

}

.botonagregar a{
    text-decoration: none;
    text-align: center;
    font-weight: 800;  
    color:white; 
}

.icosearch  input{
   
    height: 2rem;
    width: 13rem;
    border-radius: 10%;
    border-color: aquamarine;
    color: #242336;

}
.bsearch {
    background-color: var(--Cadet);
    border-color: aquamarine;
    border-radius: 15%;
    height: 2rem;
    width: 2rem;
}

h2{
    color: var(--Cadet);
    text-align: center;
    font-weight: normal;
}
.tablap{
   
   text-align: center;
    
        border-spacing: 0;
        border-top: 1px solid aqua;
        border-left: 1px solid aqua;
        margin: 16px auto;
        max-width: 100%;
        margin-bottom: 2rem;
}
    
    


.tablaup {
    
background-color: var(--Cadet);
color: var(--white-color);




   
}
.tablaup td{
    color: white;
    border-right: 1px solid aqua;
        border-bottom: 1px solid aqua;
        
        padding: 8px 0;
       
      
}

.tabladown{
    
    background-color: var(--Silver);
    
   
  
}
.tabladown td{
    border-right: 1px solid aquamarine;
        border-bottom: 1px solid aquamarine;
        padding: 8px 0;

       
}

.beditar {
    height: 2rem;
   width: 7rem;
    border-radius: 10%;
    border-color: aquamarine;
    background-color: aquamarine;
}

.beditar a{
    color: #242336;
    text-decoration: none;
    font-weight: bold;
}
.beditar i{
    color: #242336;
}

.belimina{
    height: 2rem;
    width: 7rem;
     border-radius: 10%;
     border-color:#A40101 ;
     background-color: #A40101;
}
.belimina a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.belimina i{
    color: white;
    }

/*alerta*/

.fondopa{
    background-image: linear-gradient(180deg,#6865659b 70%,#615f5ff8 70%), url(..//IMG/11.\ dashboard.png);
    background-repeat: no-repeat;
    width: 1600px;
    height: 800px;
}

.fblanco{
    background-color: white;

}

.blank{
    background-color: white;
    height: 250px;
    width: 350px;
    padding: 1rem;
    text-align: center;
    position: relative;
    top:120px;
    left: 500px;
}

.alerta{
    height: 3rem;
    width: 10rem;
    margin: auto;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    
}

.botgracias{
    background-color: var(--Orange);
    margin: 5px; 
    padding: 5px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 2px 2px gray;

}
.botgracias a{
    text-decoration: none;
    color: white;
    font-weight: bold;  

}

.botcancelar{
    background-color: var(--Cadet);
    margin: 5px; 
    padding: 5px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 2px 2px gray;
}
.botcancelar a{
    text-decoration: none;
    color: white;
    font-weight: bold;  
}
/*dashboard*/
#dashboard2{
    display: flex;
    flex-direction: row;
    width: 1600px;
    height: 110px;
}

.menu_2{
    flex-basis: 20%;
    background-color:var(--Cadet);
    height: 150vh;
    font-size: 30px;
  }
  .menu_2 ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .menu_2 a{
    text-decoration: none;
    padding: 0.5rem;
    display: block;
    border-radius: 15px;
    font-size: 20px;
  }
  .menu_2 a{
    background-color: var(--Silver);
    color: var(--Cadet);
    border: 3px solid white;
    padding-left: 20px;
    transition: all 2s;
    border: 2px solid var(--Orange);
  }
  
  .menu_2 img{
    padding-bottom: 50px;
    padding-top: 60px;
    max-width: 100%;
  }
  
  .menu_2 i{
    margin: 3px;
  }
 .contenido{
    flex-basis: 80%;
    background-color: var(--white-color); /*revisar*/
    padding: 0px;
    height: 5px;
    flex-basis: 80%;
    
  }

  
  .franja_1 img{
    width: 1400px;
    height: 100px;
    max-width: 100%;
  }
  
  .bienvenidos{
    width: 1400px;
    height: 350px;
    text-align: center;
    background-image: linear-gradient(180deg,#ffffff9b 70%,#ffffffbb 70%),url(..//IMG/13.\ guerreros.png);
    background-repeat: no-repeat;
    position: relative;
    background-position-x: 950px;
    background-position-y: 280px;
    padding-top: 250px;
  }
  .bienvenidos h1{
    font-family: 'Poppins', sans-serif;
    color: var(--Orange);
    font-weight: 400;
  }
  
  
  .rotate{
    color: var(--color-white);
    background-color:#242336;
    border: 2px solid #2ca3ab;
    border-radius: 5px;
    padding: 3px 6px;
  }
  .search{
    color: var(--color-white);
    background-color:#242336;
    border: 2px solid #2ca3ab;
    border-radius: 5px;
    padding: 3px 6px;
  }
  .dashboar-input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid var(--Cadet);
    width: 270px;
  }
  
  .carol{
    border-radius: 10px;
    padding: 10px;
    position: relative;
    top: -250px;
    bottom: 900px;
    left: 390px;
    background-color: linear-gradient(180deg,#ffffff9b 70%,#ffffffbb 70%);
  }
  .carol img{
    background-color: black;
    border:2px solid var(--Orange) ;
    border-radius: 80%;
  }
/*modal*/
.buttons {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 0;
}

.btn-1 {
  padding: 0.5rem 1rem;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  background-color: #da6a20;
  color: white;
  border-radius: 5px;
  border: 2px solid gray;
}

.btn-1 a {
  text-decoration: none;
  color: white;
}

.btn-2 {
  padding: 0.5rem 1rem;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  background-color: #212179;
  color: white;
  border-radius: 5px;
  border: 2px solid gray;
}

.btn-2 a {
  text-align: center;
  text-decoration: none;
  color: white;
}

/* ::::::::::::::::::; modal :::::::::::::::::::::::: */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4a4a4a7c;
  display: flex;
  --opacity: 0;
  --pointer: none;

  opacity: var(--opacity);
  pointer-events: var(--pointer);
  transition: opacity 0.5s;
}

.modal:target {
  --opacity: var(--opacity);
  --pointer: unset;
}

.modalContainer {
  margin: auto;
  background-color: white;
  width: 30vw;
  max-height: 90%;
  overflow: hidden;
  text-align: center;
  padding: 2.5em 1.5em;
  border-radius: 1em;
}

.modalImg {
  margin: auto;
  width: 20vw;
  display: block;
}


.modal:target .modalContainer {
  animation: scale-up-center 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;

}

@keyframes scale-up-center {
  0% {
      transform: scale(0.5);
  }

  100% {
      transform: scale(1);
  }
}

.modalPicture {
  width: 90%;
  margin: 0 auto;
  max-width: 400px;
  margin-bottom: 1em;
}


.modalP {
  text-align: center;
  margin-bottom: 1em;
  line-height: 1.5
}

.modalClose {
  display: inline-block;
  border: 1px solid #333;
  padding: 1em 2em;
  text-decoration: none;
  font-weight: 700;
  color: #333;
  border-radius: 0.4em;
}

/* :::::::::::::::: CAS0 1 :::::::::::::::: */
.padding {
  font-weight: bolder;
  padding-right: 3rem;
}

.padding1 {
  font-weight: bolder;
  padding-right: 1.4rem;
}

.padding2 {
  font-weight: bolder;
  padding-right: 7rem;
}

.padding3 {
  font-weight: bolder;
  padding-right: 5rem;
}

.padding4 {
  font-weight: bolder;
  padding-right: 7rem;
}

.left {
  padding-left: 3rem;
}

.bold-color {
  color: red;
}

/* :::::::::::::::: CAS0 2 :::::::::::::::: */
.padding0 {
  font-weight: bolder;
  padding-right: 1rem;
}

.padding2-2 {
  font-weight: bolder;
  color: #212179;
  padding-right: 3.2rem;
}

.padding3-2 {
  font-weight: bolder;
  color: #212179;
  padding-right: 5.7rem;
}

.padding4-2 {
  color: #da6a20;
  font-weight: bolder;
  padding-right: 5rem;
}

.padding5 {
  color: #da6a20;
  font-weight: bolder;
  padding-right: 5.4rem;

}

.padding6 {
  font-weight: bolder;
  color: red;
  padding-right: 7.8rem;
}

.left1-2 {
  padding-left: 0rem;
}

/* :::::::::::::::: CAS0 3 :::::::::::::::: */
.padding1-3 {
  font-weight: bolder;
  padding-right: 2.4rem;
}

.padding6-3 {
  color: brown;
  font-weight: bolder;
  padding-left: 0.8rem;
}

.padding6-3 {
  font-weight: bolder;
  color: brown;
  padding-right: 5.8rem;

}

/* :::::::::::::::::::::::::::::::: MEDIA QUERIES :::::::::::::::::::::::::::::::: */

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .buttons {
      flex-direction: column;
  }

  .modalImg {
      width: 30vw;
  }

  .modalP {
      font-size: 5vw;
  }

  .btn-2 {
      margin-top: 1rem;
      padding: 0.5rem 0;
  }

  .modalCaso1-1 {
      width: 80vw;
  }

  .padding {
      font-weight: bolder;
      padding-right: 0rem;
  }

  .padding1 {
      font-weight: bolder;
      padding-right: 0rem;
  }

  .padding2 {
      font-weight: bolder;
      padding-right: 0rem;
  }

  .padding3 {
      font-weight: bolder;
      padding-right: 0rem;
  }

  .padding4 {
      font-weight: bolder;
      padding-right: 0rem;
  }

  .left {
      padding-left: 0rem;
  }

  .bold-color {
      color: red;
  }

  /* :::::::::::::::: CAS0 2 :::::::::::::::: */
  .modalCaso2-2 {
      width: 80vw;
  }

  .padding0 {
      font-weight: bolder;
      padding-right: 0rem;
  }

  .padding2-2 {
      font-weight: bolder;
      color: #212179;
      padding-right: 0rem;
  }

  .padding3-2 {
      font-weight: bolder;
      color: #212179;
      padding-right: 0rem;
  }

  .padding4-2 {
      color: #da6a20;
      font-weight: bolder;
      padding-right: 0rem;
  }

  .padding5 {
      color: #da6a20;
      font-weight: bolder;
      padding-right: 0rem;

  }

  .padding6 {
      font-weight: bolder;
      color: red;
      padding-right: 0rem;
  }

  .left1-2 {
      padding-left: 0rem;
  }

  /* :::::::::::::::: CAS0 3 :::::::::::::::: */
  .modalCaso3-3{
      width: 70vw;
      overflow-y: scroll;
  }

  .padding1-3 {
      font-weight: bolder;
      padding-right: 0rem;
  }

  .padding6-3 {
      color: brown;
      font-weight: bolder;
      padding-left: 0rem;
  }

  .padding6-3 {
      font-weight: bolder;
      color: brown;
      padding-right: 0rem;
  }

}

@media (min-width: 481px) and (max-width: 767px) {
  .modalCaso1-1 {
      width: 80vw;
  }

  .modalCaso2-2 {
      width: 80vw;
  }

  /*::::::; caso 3 :::::::: */
  .modalCaso3-3{
      width: 70vw;
      overflow-y: scroll;
  }

  .padding0, .padding1-3, .padding2-2, .padding3-2, .padding4-2, .padding5, .padding6-3, .bold-color3, .left, .left1-2{
      padding: 0;
  }
}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  .modalCaso1-1 {
      width: 80vw;
  }

  .modalCaso2-2 {
      width: 80vw;
  }

  .modalCaso3-3{
      width: 70vw;
  }

  .padding0, .padding1-3, .padding2-2, .padding3-2, .padding4-2, .padding5, .padding6-3, .bold-color3, .left, .left1-2{
      padding: 0;
  }
}/*ahora dash*/
  *{
    margin: 0;
    padding: 0;
    
}



h1, h2, h3{
    font-family: 'Poppins', sans-serif;
    color: var(--dark-color);
}

p{
    color: var(--dark-color);
    text-align: justify;
}

/* :::::::::::::::::::::::::::::::::: PARTE LATERAL IZQUIERDA :::::::::::::::::::::::::::::::::::::::: */
.main{
    display: flex;
}

.izq{
    padding: 3rem 0;
    width: 30%;
    height: 560px;
    
    background-color: rgb(22, 22, 80);
    grid-area: iz;
}
.logo{
    display: none;
    margin: 2rem 1.5rem 2rem 1rem;
    width: 80%;
}

.botones{
    margin: 4rem 0;
    display: flex;
    flex-direction: column;
}

.btn1{
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: 4px solid rgb(218, 106, 32);
    border-radius: 5px;
    
}

.btn1 a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.btn2 a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.btn3 a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.btn2{
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: 4px solid rgb(218, 106, 32);
    border-radius: 5px;
}

.btn3{
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: 4px solid rgb(218, 106, 32);
    border-radius: 5px;
}

#chk-menu{
    display: none;
    
}
#chk-menu:checked ~ .botones{
    display:block;
    display: flex;
    flex-direction: column;
    
}
#chk-menu:checked ~ .logo{
    display:block;
    display: flex;
    flex-direction: column;
}

.btn-menu{
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    margin: 10px;
    

}
.botones{
    
    display: none;
   
}
.item{
    padding: 0.7rem;
    text-decoration: none;
    color: white;
}
.item:hover{
    color: rgba(255, 255, 255, 0.4);
}




/* :::::::::::::::::::::::::::::::::: PARTE LATERAL DERECHA :::::::::::::::::::::::::::::::::::::::: */

main{
    overflow: hidden;
    display: grid;
    gap: 5px;
    grid-template-columns:5fr auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "iz de"; 
}  
.dere{
    grid-area:auto;
    overflow: hidden;
    display: grid;
    gap: 5px;
    grid-template-columns:auto;
    grid-template-rows: 65px 1fr auto;
    grid-template-areas: 
    "item1 "
    "item2"  
    "item3";
}

.sesion{
    display: flex;
    align-items: flex-end;
    padding: 0.5rem;
    width: 220px;
    background-image: linear-gradient(to right, #a5a2a4, #b1aeb0, #bcbabc, #c8c7c9, #d4d3d5, #d4d3d5, #d4d3d5, #d4d3d5, #c8c7c9, #bcbabc, #b1aeb0, #a5a2a4);
    
    border-radius: 6px;
    grid-area: item1;
}


.fa-user1{
    margin: 0 0.5rem;
    border: 3px solid rgb(245, 119, 35);
    background-color: white;
    padding: 0.5rem;
    border-radius: 50%;
}

.sesion p{
    margin-top: 1rem;
}

.form-group{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center ;
    margin:  0;
    text-align: center;
    grid-area: item2;
    flex-direction: column;
}
.franja{
    width: auto;
    height: 100px;
    grid-area: item3;
    background-size: cover;
    margin: 0;
}
.franja img{
    width: 100%;

}
.form-group h1{
    font-weight: 400;
    color:rgb(199, 81, 2);
}

input{
    background-color: transparent;
    padding: 0.6rem 1rem;
}

.rellenar{
    display: flex;
    align-items: center;
    justify-content: center ;
    flex-direction: column;
}
.relelnar .fa-iconos{
    display: flex;
    flex-direction: row;
}
.fa-iconos{
    
    background-color: rgb(22, 22, 80);
    color: white;
    padding: 0.5rem 1rem;
    margin: 1rem 0.3rem;
    border: 3px solid #2bb6c0;
    border-radius: 5px;
}

.form-input{
    border-top: 0;
    border-right: 0;
    border-left: 0;
    width: 300px;
}
.dere{height: 676px;}
body{overflow: hidden;}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .izq{width: 80%;height: 900px;}
    .dere{margin-left: 0rem;height: 718px;}
}


@media only screen 
    and (device-width : 414px) 
    and (device-height : 896px) 
    and (-webkit-device-pixel-ratio : 2) { 
        .izq{width: 80%;height: 900px;}
        .dere{margin-left: 0rem;height: 750px;}
        body{overflow: hidden;}
}

@media screen and (min-width: 1024px){

    body{
        background-color: ghostwhite;
    }
    
    .botones{
        display: block;
        display:block;
        display: flex;
        flex-direction: column;
    }
    .btn-menu{
        display: none;
    }
    .logo{
        display:block;
        display: flex;
        flex-direction: column;
    }
    .rellenar{
        display: flex;
        align-items: center;
        justify-content: center ;
        flex-direction: row;
    }
    .izq{
        width: 50%;
    }
    
}
  /*registro*/
  
    .pacientes{
  display: grid;
  background-color: #242336;
  max-width: 100%;
 
}
.franja{
  display: flex;
  justify-content: left;
  height: 80px;
  max-width: 100%;
  
  
}
.fran img{
  
  height: 80px;
  width: 500px;
  max-width: 100%;
}

.register{
    background-color: blue;
    text-align: center;
    
}
.register h1{

    color: white;
}

.pacientes{
    display: flex;
    flex-direction: row;
    width: 1600px;
    background-color: var(--Cadet);
  }
  .paciente1{
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: 1250px;
  }
  
  .pa-1{
    border-radius: 50%;
    padding: 5px;
    margin: 10px;
    border-color: var(--Viridian-green);
  }
  
  .register{
    background-color: var(--Cadet);
    width: 1600px;
    height: 70px;
    color: var(--color-white);
    text-align: center;
    padding: 20px;
  }
  .register h1{
      color: white;

  }
  .linea_2 img{
    height: 84px;
    border-bottom: 4px solid var(--color-viridian-Green);
  }  

  #form-section{
    margin: 10px 300px;
    background-color: white;
    border: 1px solid;
    border-color: var(--Viridian-green);
    padding: 20px;
    padding-bottom: 50px;
    width: 900px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    }
  
    .frm-frm{
      background-color: var(--Silver);
      padding: 20px;
      border-radius: 15px;
      border: 1px solid;
      border-color: gray;
    }
    
    .frm-busqueda{
      text-align: justify;
    }
  
  .form-1{
    text-align: left;
    padding: 10px;
    margin-left: 10px;
  }
  
  .form-input1{
    border: 1px solid;
    border-color: var(--Viridian-green);
    width: 180px;
    height: 35px;
    padding: 5px;
    margin: 5px;
  }
  .form-input2{
    border: 1px solid;
    border-color: var(--Viridian-green);
    width: 180px;
    height: 35px;
    padding: 10px;
    margin: 5px;
  }
  
  .btn-form{ 
    width: 810px;
    border-radius: 5px;
    color: var(--color-white);
    background-color: var(--Viridian-green);
    border: 1px solid;
    border-color: var(--color-black);
    padding: 5px;
  }
  
  
  
  .input3{
    width: 345px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--Viridian-green);
    padding: 5px;
  }
  .input3-1{
    width: 345px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--Viridian-green);
    padding: 5px;
    margin-left: 15px;
  }
  
  .form-input11{
    width: 230px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--Viridian-green);
    padding: 5px;
    margin-left: 15px;
  }
  
  .identification_type{
    width: 345px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--Viridian-green);
    padding: 5px;
    margin-left: 15px;
  }
  
  .form-control{
    width: 345px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--Viridian-green);
    padding: 5px;
    margin-left: 15px;
  }
  
  .form-control1{
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--Viridian-green);
    padding: 5px;
    margin-left: 15px;
  }
  
  
  
  .Rq{
    display: flex;
    flex-direction: column;
  }
  
  .Rquest{
    padding: 10px;
    text-align: justify;
  }
  .Rq1{
    display: flex;
    flex-direction: column;
  }
  
  .Rquest1{
    padding: 10px;
    text-align: justify;
  }
  
  .bt{
    color: white;
    width: 120px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: var(--orange);
    border-radius: 5px;
    padding: 5px;
    margin-left: 5px;
  }
  
  .bt{
    margin-top: 20px;
    margin-left: 380px;
  }





.footer{
    padding: 20px;
}
  .footer p{
      color: white;
      margin: auto;
      max-width: 100%;
      }

  /*FORM*/
  h1,
h2,
h3 {
    font-family: 'Poppins', sans-serif;
    color: var(--dark-color);
}

p {
    color: var(--dark-color);
    text-align: justify;
}

a {
    text-decoration: none;
}

/* :::::::::::::::::::::::::::::::::::::::::::: HEADER :::::::::::::::::::::::::::::::::::::::::::::::: */
body {
    overflow-x: hidden;
}

header {
    display: flex;
    background-color: rgb(63, 62, 62);
    width: 100vw;
    max-width: 1500px;
}

.logo {
    width: 88%;
    margin: 1rem 0;
}

.iconos {
    width: 12%;
    margin: 1rem 0;

}

.iconos i {
    color: black;
}

.fa-house-user {
    background-color: rgb(218, 216, 216);
    padding: 0.8rem;
    border-radius: 50%;
    border: 3px solid rgb(2, 190, 190);
}

.fa-power-off {
    background-color: rgb(218, 216, 216);
    padding: 0.8rem;
    border-radius: 50%;
    border: 3px solid rgb(2, 190, 190);
}

.franjaNaranja {
    background-image: url(../img/3.\ franjaninios.svg);
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70px;
    border-bottom: 5px solid rgb(2, 190, 190);
}

/* :::::::::::::::::::::::::::::::::::::::::::: INFO :::::::::::::::::::::::::::::::::::::::::::::::: */
.linea1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.save {
    margin: 1rem 0;
    width: fit-content;
    padding: 0.5rem 0;
    border-radius: 10px;
    border: none;
    background-color: #dc7633;
}

.save a {
    color: white;
    padding: 0 1rem;
}

.title {
    padding: 0 1rem;
}

.title h1 {
    font-weight: 200;
    text-transform: uppercase;
}

/* ::::::::::::::::::::::::::::::::::::::: FORMULARIO (grid) :::::::::::::::::::::::::::::::::::::::::::::::: */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 180px 180px 250px 250px;
    gap: 15px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "area1 area1 area1"
        "area1 area1 area1"
        "area2 area2 area2"
        "area2 area2 area2";
    margin-bottom: 3rem;
}

.area1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 60px 56.5px 160px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "fechaDeRegistro fechaDeRegistro fechaDeRegistro"
        "titulo1 titulo1 titulo1"
        "inputs inputs inputs";
    grid-area: area1;
}

.fechaDeRegistro {
    grid-area: fechaDeRegistro;
}

.titulo1 {
    grid-area: titulo1;
}

.inputs {
    grid-area: inputs;
}

.area2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 70px 100px 100px 130px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "titulo2 titulo2 titulo2"
        "inputs2 inputs2 inputs2"
        "input3 input3 input3"
        "observaciones observaciones observaciones";
    grid-area: area2;
}

.titulo2 {
    grid-area: titulo2;
}

.inputs2 {
    grid-area: inputs2;
}

.input3 {
    grid-area: input3;
}

.observaciones {
    grid-area: observaciones;
}

/* ::::::::::::::::::::::::::::::::::::::: FORMULARIO (area 1) ::::::::::::::::::::::::::::::::::::::::::: */
.area1 {
    margin: 0 0.8rem;
    padding: 2.5rem 1rem;
    border-radius: 10px;
    background-color: #c7c6c6;
    border: 3px solid #686868;
}

input {
    border-radius: 5px;
    padding: 10px 5px;
    border: 2px solid #62A1AA;
    width: 42vw;
}

select {
    border-radius: 5px;
    width: 43vw;
    padding: 6.5px 5px;
    border: 2px solid #62A1AA;
}

.fechaDeRegistro {
    display: flex;
    justify-content: space-around;
}

.fechaDeRegistro input {
    height: 20px;
}

.renglon1,
.renglon2,
.renglon3 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}


/* ::::::::::::::::::::::::::::::::::::::: FORMULARIO (area 2) ::::::::::::::::::::::::::::::::::::::::::: */
.area2 {
    margin: 0 0.8rem;
    padding: 2.5rem 1rem;
    border-radius: 10px;
    background-color: #c7c6c6;
    border: 3px solid #686868;
}

.area2 #biologico {
    width: 20vw;
}

.titulo1,
.titulo2 {
    color: white;
    width: 94vw;
    height: 3vw;
    display: flex;
    align-items: center;
    background-color: #62A1AA;
    border: 2px solid #46737F;
    border-radius: 5px;
}

.titulo1 i,
.titulo2 i {
    flex-grow: 2;
    padding-left: 5rem;
    font-size: 30px;
}

.titulo1 p,
.titulo2 p {
    flex-grow: 2;
    font-size: 20px;
}

.observaciones {
    display: flex;
    justify-content: center;
}

textarea {
    height: 100px;
    padding: 10px 15px;
    border: 4px dashed #62A1AA;
    width: 42vw;
    border-radius: 20px;
}

.input3 {
    place-items: center;
    display: flex;
    justify-content: space-evenly;
}

.input3 #biologico {
    width: 28vw;
}

/* ::::::::::::::::::::::::::::::::::::::::::::::: PIE DE PAGINA :::::::::::::::::::::::::::::::::::::::: */
.pie-pagina .grupo-2 {
    background-color: #000000e1;
    padding: 15px 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
}

.pie-pagina .grupo-2 small {
    font-size: 15px;
    font-family: Raleway;

}

.pie-pagina {
    margin-top: 3rem;
}


/* ::::::::::::::::::::::::::::::::::::::::::::::: MEDIA QUERIES :::::::::::::::::::::::::::::::::::::::: */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .renglon1, .renglon2, .renglon3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 0.5rem;
    }
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 280px 280px 350px 350px;
        gap: 15px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "area1 area1 area1"
            "area1 area1 area1"
            "area2 area2 area2"
            "area2 area2 area2";
        margin-bottom: 3rem;
    }
    .area1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 130px 110px 260px;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "fechaDeRegistro fechaDeRegistro fechaDeRegistro"
            "titulo1 titulo1 titulo1"
            "inputs inputs inputs";
        grid-area: area1;
    }

    input {
        border-radius: 5px;
        padding: 10px 5px;
        border: 2px solid #62A1AA;
        width: 75vw;
    }
    
    select {
        border-radius: 5px;
        width: 80vw;
        padding: 6.5px 5px;
        border: 2px solid #62A1AA;
    }

    .titulo1, .titulo2 {
        color: white;
        width: 80vw;
        height: 15vh;
        display: flex;
        align-items: center;
        background-color: #62A1AA;
        border: 2px solid #46737F;
        border-radius: 5px;
    }
    .fechaDeRegistro {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .area2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 90px 190px 180px 170px;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "titulo2 titulo2 titulo2"
            "inputs2 inputs2 inputs2"
            "input3 input3 input3"
            "observaciones observaciones observaciones";
        grid-area: area2;
    }
    
    .input3{
        flex-direction: column;
    }

    .input3 #biologico {
        width: 243px;
    }


    textarea {
        height: 25vh;
        padding: 10px 15px;
        border: 4px dashed #62A1AA;
        width: 42vw;
        border-radius: 20px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .titulo1, .titulo2 {
        color: white;
        width: 90vw;
        height: 8vh;
        display: flex;
        align-items: center;
        background-color: #62A1AA;
        border: 2px solid #46737F;
        border-radius: 5px;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .titulo1, .titulo2 {
        color: white;
        width: 92vw;
        height: 5vw;
        display: flex;
        align-items: center;
        background-color: #62A1AA;
        border: 2px solid #46737F;
        border-radius: 5px;
    }
}

 
/*cel*/
  @media (max-width:320px) {
/*/index*/
/*login*/
.body {
  grid-template-columns: repeat(1, minmax(150px, 30%));
}

.upform {
  grid-column-end: span 2;
  width: auto;
}
.upform > div {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}
.upform > div.ingresa {
  grid-template-columns: 1fr 1fr 1fr;
}

input[type="submit"] {
  grid-column: 2;
}
.ingresa a {
  justify-self: end;
}

input[type="submit"] {

color: var(--Silver);;
background-color: var(--Cadet);
font-size: 110%;
}
.formulario{
  background-color: rgba(240, 139, 81, 0.8);
}
/*pacientes*/


.fran{
  width: 100%;
}


.tablapadre{
display: block;

  padding:0;
}
.tablaup{
  /*display: flex;
  flex-direction: column;*/
  display: none ;

}
.tabladown{
  display: grid;
  grid-template-columns: auto;
  border: 1px solid grey;
 /* padding: 1em;*/
  text-align: center;
  width: 300px;
  padding:0;
  margin: 0;
}
.footp{
  width: 2500px;
}


/*dashboard*/
/*registro*/
}
/*tablet*/
  @media (max-width:768px){
/*/index*/
/*login*/
.body {
  grid-template-columns: repeat(1, minmax(150px, 30%));
}

.upform {
  grid-column-end: span 2;
  width: auto;
}
.upform > div {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}
.upform > div.ingresa {
  grid-template-columns: 1fr 1fr 1fr;
}

input[type="submit"] {
  grid-column: 2;
}
.ingresa a {
  justify-self: end;
}

input[type="submit"] {

color: var(--Silver);;
background-color: var(--Cadet);
font-size: 110%;
}
.formulario{
  background-color: #2ca3ab;
}
/*pacientes*/
.bodyp{
  background-color: var(--Viridian-green);
  padding: 0;
  margin-right: 0;
  width: 100%;
}
.fran{
  width: 100%;
}


.tablapadre{
display: block;

  padding:0;
}
.tablaup{
  /*display: flex;
  flex-direction: column;*/
  display: none ;

}
.tabladown{
  display: grid;
  grid-template-columns: auto;
  border: 1px solid grey;
 /* padding: 1em;*/
  text-align: center;
  width: 300px;
  padding:0;
  margin: 0;
}
.footp{
  width: 2500px;
}
/*dashboard*/
#dashboard2{
  display: grid;
    grid-template-areas:
    "side"
    "side"
    "side"
    "aside"
    "aside"
    "aside"
    "footer";
    overflow: hidden;
  }
  .bienvenidos{
    display:grid;
    grid-template-columns: auto;
    width:auto;
    justify-content:center;
    padding-bottom: 100px;
  }

  .dash-carol{
    padding-bottom:150px;
    padding-top: 100px;
  }
  .menu_2{
    grid-area: side;
    background-color:var(--color-space-cadet);
    place-content: 100%;
    height:100%;
    height:460px;
    min-width: 310px;
  }
  .menu_2 a{
    text-decoration: none;
    padding: 0.1rem;
    display:grid;
    border-radius: 5px;
    font-size: 15px;
  }
  
  .menu_2 a{
    background-color: var(--color-silver);
    color: var(--color-space-cadet);
    border: 3px solid var(--white-color);
    transition: all 2s;
    border: 2px solid var(--color-Orange) ;
  }
  
  .menu_2 img{
    padding-bottom: 10px;
    padding-top: 15px;
    width: 250PX;
    justify-content:center;
  }
  .menu_2 li{
    display:grid;
    font-size:10px;
  }
  .menu_2 i{
    margin: 3px;
  }
  .welcome-dash{
    padding:0;
    margin: 0;
  }

  .Imagen-franja{
    width:100%;
  }
/*registro*/
*input{
  width:400px;
}
.select{
  width:auto;
}
.btn-form{
  width:auto;
}
.bt{
  margin: 10px;
}
.register h1{
  font-size:20px;
}
.frm-frm{
  padding: 0px;
  margin: 0;
}
.btn-size-sm{
  width: 450px;
}
#form-section{
  min-width: 550px;
}
#form-section{
  margin: 10px 0px;
  }
}
/*desktop*/
  @media (max-width:1200px){
/*/index*/
/*login*/
.body {
  grid-template-columns: repeat(1, minmax(150px, 30%));
  background-color: #C4C4C4;
}

.upform {
  grid-column-end: span 2;
  width: auto;
}
.upform > div {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}
.upform > div.ingresa {
  grid-template-columns: 1fr 1fr 1fr;
}
.formulario {
  grid-column-end: span 2;
  width: auto;
}
.formulario> div {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}
.formulario > div.ingresa {
  grid-template-columns: 1fr 1fr 1fr;
}

input[type="submit"] {
  grid-column: 2;
}
.ingresa a {
  justify-self: end;
}

input[type="submit"] {

color: var(--Silver);;
background-color: var(--Cadet);
font-size: 110%;
}
.formulario{
  background-color: rgba(240, 139, 81, 0.8);
}
/*pacientes*/

.fran{
  width: 100%;
}


.tablapadre{
display: block;

  padding:0;
}
.tablaup{
  display: grid;
  grid-template-columns: auto;
  display: none ;

}
.tabladown{
  display: grid;
  grid-template-columns: auto;
  border: 1px solid grey;
 /* padding: 1em;*/
  text-align: center;
  width: 300px;
  padding:0;
  margin: 0;
}
.footp{
  width: 2500px;
}

/*dashboard*/
#form-section{
  margin: 10px 250px;
  }

/*registro*/
  }
/*compu grande*/
  @media  (max-width:1024px){
/*/index*/
/*login*/
.body {
  grid-template-columns: repeat(1, minmax(150px, 30%));
}

.upform {
  grid-column-end: span 2;
  width: auto;
}
.upform > div {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}
.upform > div.ingresa {
  grid-template-columns: 1fr 1fr 1fr;
}
.formulario {
  grid-column-end: span 2;
  width: auto;
}
.formulario> div {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}
.formulario > div.ingresa {
  grid-template-columns: 1fr 1fr 1fr;
}

input[type="submit"] {
  grid-column: 2;
}
.ingresa a {
  justify-self: end;
}

input[type="submit"] {

color: var(--white-color);;
background-color: var(--Cadet);
font-size: 110%;
}
.formulario{
  background-color: rgba(240, 139, 81, 0.8);
}
/*pacientes*/
/*dashboard*/
.bienvenidos {
  width:auto;
  justify-content:center;
  padding-bottom: 227px;
}
#form-section{
  margin: 10px 120px;
  }
/*registro*/
  }

}